body{
    background-color: rgb(0, 0, 0);
}
ul{
    color: royalblue;
}
h1{
    color: white;
    font-size: 30px;
    border-style: dotted;
    border-color: white;
    border-width: 4px; 
}
.cor1{
    color: crimson;
}
.cor2{
    color: yellowgreen;
}